/* Commentary Load More------- */
.commentary-section {
  height: 300px; /* Initial fixed height */
  overflow: hidden;
  transition: height 0.3s ease;
}

.load-more {
  margin-top: 10px;
  cursor: pointer;
  color: blue;
}
/* /Commentary Load More------- */

@media (max-width: 600px) {
  .mobile-50 {
    width: 48%;
  }
}
